src/
scripts/
dist/

*.ts
*.js
*.tsx
*.jsx
tsconfig.json
tsconfig.build.json

node_modules/
.nyc_output/
coverage/
coverage.json
*.log

.vscode/
.git/
.github/

package.json.template
webpack.config.js
rollup.config.js

demo/
images/demo/
images/

*.webp
*.gif
*.mov
*.ai
*.psd
*.md

.DS_Store
Thumbs.db
